extends layout

block content
	//- green to blue key
	.key
	label easy
	label.right expert

	//- just a line
	.key.sink
	label.sink most awesome
	label.sink.right least awesome

	//- data from scraper, not escaped...
	//- !{var} instead of #{var}
	script.
		var skiAreaList = !{JSON.stringify(skiAreaList)}
	script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
	script(src='http://d3js.org/d3.v3.min.js')
	script(src='/main.js')